
curso-html5-pacote01/projeto-glass-html5/.DS_Store
curso-html5-pacote01/projeto-glass-html5/_css/.DS_Store
curso-html5-pacote01/projeto-glass-html5/_imagens/.DS_Store
curso-html5-pacote01/projeto-glass-html5/_textos/.DS_Store
curso-html5-pacote02/_media/.DS_Store
curso-html5-pacote01/projeto-glass-html5/_javascript/.DS_Store
.vscode/settings.json
